@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
  --background-color: rgb(31,31,31);
  --brown: #D17721;
  --background-color-top: rgb(43, 43, 43);
}

main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  text-align: center;
}

body{
  margin: 0px;
  font-family: 'Oswald', sans-serif;
}
