#Form {
    height: 100%;
    padding: 0 5%;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}

#product-form-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: 100%;
    border: none;
    justify-content: space-between;
}

.product-flex-info{
    width: 40%;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: none;
}

.product-flex-info input{
    width: 95%;
}

.product-flex-info select{
    width: 100%;
}


#Form input, #Form select{
    box-shadow: var(--shadow);
    padding: 1em;
    border-radius: 12px;
    border: none;
    margin: 1em 0;
}

#Form span{
    color: red;
    margin: 0.3em 0;
}

#product-form-button{
    padding: 0.5em;
    border: none;
    box-shadow: var(--shadow);
    height: 50px;
    border-radius: 15px;
}