#flex-contain{
    display: flex;
}

#dashboard-contain{
    background-color: var(--light-blue);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dashboard-contain .css-1e2bxag-MuiDataGrid-root{
    border: none;
}

#table .css-1e2bxag-MuiDataGrid-root, #table .MuiDataGrid-columnHeader:focus, #table .css-1e2bxag-MuiDataGrid-root, #table .MuiDataGrid-cell:focus, #table .MuiDataGrid-cell:focus-within{
    outline: none
}

