.filterPrice {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#ProductsP {
  display: flex;
  margin-top: 30%;
}

#container {
  width: 30%;
  margin-left: -150px;
  /* margin-right: 50px; */
}

.filteres {
  width: 100%;
  height: 400px;
  box-shadow: 0 2.5px 7.5px rgb(0 0 0 / 20%);
  border-radius: 15px;
}

.filters select {
  box-shadow: var(--shadow);
  border: none;
  margin-top: 1em;
  border-radius: 25px;
  padding: 0.5em;
  width: 173px;
}

/* .menuFilters {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
} */

.menuFilteres div {
  margin: 0.5em 0;
  /* height: 400px; */
}

.buttonFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.51);
  border-radius: 15px;
  margin: 0.3em;
  border: none;
  color: #fff;
}

.buttonFilter svg {
  margin: 0 0.3em;
  width: 1.5em;
  fill: #fff;
}

.buttonFilter:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--brown);
}
