#ship {
  background-color: var(--brown);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 2em;
  padding: 0.2em 0;
}

#ship p {
  color: #fff;
  font-size: 20px;
}

#ship span {
  font-weight: bold;
  margin: 0 0.3em;
}

.svg-container {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  background-color: var(--grey);
  height: 45px;
  width: 45px;
  border-radius: 100%;
  transition: 0.5s;
}

#flex-svgs a{
  text-decoration: none;
}

.svg-container p{
  color: #fff;
  margin: 0 0.2em;
}

.svg-container:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--brown);
}

.svg {
  fill: #fff;
  width: 1em;
}

.nav {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  padding: 0 5%;
  background: transparent;
}

.nav img, #user-img {
  max-width: 3.5em;
  width: 100%;
  height: auto;
}

#user-img{
  max-width: 3em;
  border-radius: 50%;
}

.nav img:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

#flex-svgs {
  margin-top: 0.5em;
  display: flex;
  width: 11.5em;
  align-items: center;
  justify-content: space-between;
}

#cart {
  fill: #fff;
  width: 1.2em;
}
