#ship{
    background-color: var(--brown);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 2em;
    padding: 0.2em 0;
}

#ship p {
    color: #fff;
    font-size: 20px;
}

#ship span{
    font-weight: bold;
    margin: 0 0.3em;
}

.svg-container{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background-color: rgb(190, 188, 188);
    height: 45px;
    width: 45px;
    border-radius: 100%;
}

.svg{
    fill: #fff;
    width: 1em;
    cursor: pointer;
}

.nav{
    margin-top: 1em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    padding: 0 5%;
    background: transparent;
}

.nav img{
    max-width: 3.5em;
    width: 100%;
    filter: brightness(0);
    height: auto;
}

.nav form{
    display: flex;
    width: 100%;
    max-width: 30em;
}

#flex-svgs{
    margin-top: 0.5em;
    display: flex;
    width: 6.5em;
    align-items: center;
    justify-content: space-between;
}

#cart{
    fill: #fff;
    width: 1.2em;
}

#search{
    display: flex;
    align-self: center;
    width: 100%;
    height: 20px;
    height: 30px;
    max-width: 30em;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px 0 0 50px;
    padding: 10px 15px;
    box-shadow: 0 2.5px 7.5px rgb(0 0 0 / 10%);
    border: none;
}

#search:focus{
    outline: 2px var(--brown);
}

#search-button{
    background-color: rgb(190, 188, 188);
    border-radius: 0 50px 50px 0;
    height: 52px;
    width: 50px;
    border: none;
    transition: 0.5s;
}

#search-button svg {
    fill: #fff;
    width: 25px;
    height: 25px;
}

#search-button:hover{
    cursor: pointer;
    color: #fff;
    background-color: var(--brown);
    transition: 0.5s;
}


#Categorys ul{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
}

#Categorys li{
    list-style-type: none;
    font-size: 20px;
    position: relative;
    text-transform: capitalize;
    color: #515151;
}

#Categorys li:hover{
    cursor: pointer;
}