#ship{
    background-color: var(--brown);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 2em;
    padding: 0.2em 0;
}

#ship p {
    color: #fff;
    font-size: 20px;
}

#ship span{
    font-weight: bold;
    margin: 0 0.3em;
}

.svg{
    fill: var(--background-color-top);
    width: 1.8em;
    cursor: pointer;
}

.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    padding: 0 5%;
    background: transparent;
}

.nav img{
    max-width: 3.5em;
    width: 100%;
    filter: brightness(0);
    height: auto;
}

.nav form{
    display: flex;
    width: 100%;
    max-width: 20em;
}

#flex-svgs{
    margin-top: 0.5em;
    display: flex;
    width: 6em;
    align-items: center;
    justify-content: space-between;
}

#cart{
    width: 2.2em;
}

#search{
    display: flex;
    align-self: center;
    width: 100%;
    max-width: 20em;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px 0 0 50px;
    padding: 10px 15px;
    box-shadow: 0 2.5px 7.5px rgb(0 0 0 / 10%);
    border: none;
}

#search:focus{
    outline: none;
}

#search-button{
    border-radius: 0 50px 50px 0;
    height: 40px;
    border: none;
    transition: 0.5s;
}

#search-button svg {
    fill: #fff;
    width: 25px;
    height: 25px;
}

#search-button:hover{
    cursor: pointer;
    color: #fff;
    background-color: var(--brown);
    transition: 0.5s;
}