.cardHome {
    /* display: flex;
    flex-wrap: wrap;
    align-items: center; */
    margin-top: 6%;
    justify-content: space-between;
    /* padding-bottom: 4%;
    padding-left: 8.6%; */
    width:80%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 500px;
  }

#Products{
    display: flex;
}

#Contenido{
    width: 100%;
    height: 100vh;
    background-color: darkred;
}

.filters{
    width:15%;
    background-color: chocolate;
}

.menuFilters{
    width:100%
}