#About {
  margin-top: -50px;
  height: 100%;
  width: 100%;
  background-color: #c4ccde;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.header {
  color: rgb(5, 5, 8);
  width: 90%;
  padding-top: 10px;
  background-color: #fff;
  padding-bottom: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.logo{   
    width: 40px;
    height: 40px;
}
.logo:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}


.title {
  font-size:25px;
  margin-bottom: 0.5em;
  font-family: "Pacifico", cursive;
  color: var(--brown);
}

.cards {
  padding-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-bottom: 20px;
}

#contenedor{
  height: 45px;
  width: 45px;
}

#icono{
  width: 55px;
  height: 55px;
  background-color: transparent;
}


.containerInfo {

  align-content: center;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  /* overflow: hidden; */
  background-color: rgba(255, 255, 255, 0.859);
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  transition: all 200ms ease;
  border: solid 2px transparent;
  backdrop-filter: blur(10px);
}

/* .containerInfo::before{
    content: "";
    border-top: 30px solid white;
    border-left: 300px solid white;
    position:absolute;
    bottom: 0;
} */

.containerInfo:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-1%);
}

.containerInfo > h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
  font-size: 170%;
  font-family: "Pacifico", cursive;
  color: var(--brown)
}
.containerInfo > img {
  position: relative;
  width: 97%;
  border-radius: 20px;
  height: 50%;
}

.logos{
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 15%;
}

h3{
  font-size: 20px;
}

.containerInfo > .logos > a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
