#wrapper{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0,0,0,.5);
}

#wrapper-container, #wrapper-container-img {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    height: 95%;
}

#wrapper-container{
    justify-content: center;
    align-items: center;  
    max-width: 35em;
    max-height: 33em;
    margin: 1em;
}

#wrapper-x{
    position: absolute;
    top: 10px;
    right: 10px;
}

#wrapper-x:hover{
    cursor: pointer;
}

#wrapper-x svg{
    font-size: 25px;
    margin: 1em;
    fill: #000;
}

#wrapper-container form{
    padding: 2em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#wrapper-container form fieldset{
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: space-around;
}

#wrapper-container label{
    margin: 0.5em 0;
}

#wrapper-container form input, #wrapper-container form textarea{
    padding: 1em;
    width: 100%;
    border-radius: 12px;
    border: none;
    box-shadow: var(--shadow);
}

#wrapper-container form textarea{
    height: 142px;
    width: 559px;
    font-size: 15px;
}

#wrapper-container form fieldset p{
    width: 90%;
    margin-top: 0.5em;
    text-align: left;
}

#svg-login{
    width: 3em;
    color: #fff;
}

#login-btn{
    width: 85%;
    margin-top: 2em;
    border-radius: 25px;
    height: 50px;
    border: none;
    color: #fff;
    background-color: red;
}

#login-btn:hover{
    cursor: pointer;
}

input:focus, textarea:focus{
    outline: none;
}

#login-btn-google{
    width: 85%;
    margin-top: 2em;
    border-radius: 25px;
    height: 50px;
    border: none;
    color: #fff;
    background-color: rgb(42, 140, 173);
}
#login-btn-google:hover{
    cursor: pointer;
}
