#dogStar, #starClicked{
    position: absolute;
    z-index: 10;
    width: 2em;
    top: 1em;
    right: 12em;
    margin: 0;
    cursor: pointer;
    transition: 0.5s;
}

#dogStar{
    fill: rgb(83, 83, 83);
    opacity: .2;
}

#dogStar:hover, #starClicked:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

#starClicked{
    fill: red;
}